.catalog
  display: flex
  font-size: 16px
  justify-content: space-between

.category
  padding: 15px
  .title
    padding-left: 20px
    font-size: 22px
    font-weight: bold
    margin-bottom: 15px

.w100
  width: 100%

.products
  width: 100%
  border-collapse: collapse
  th, td
    border: 1px solid #eee
    padding: 14px 20px
  th
    padding-top: 12px
    padding-bottom: 12px
    text-align: left
    font-size: 14px
    background-color: #69af4c2e
  tr:nth-child(even)
    background-color: #f9f9f9
  tr:hover
    background-color: #f6f6f6