.catalog
  display: table
  margin-top: 15px
  //display: flex
  font-size: 14px
  //justify-content: space-between

.block
  padding: 0 15px 0 15px
  display: flex
  flex-wrap: wrap
  //margin-bottom: 25px
  justify-content: flex-end
  .btn:last-of-type
    padding-right: 0

.category
  display: flex
  width: 100%
  justify-content: space-between
  margin-bottom: 10px
  .title
    font-size: 18px
    font-weight: bold

.mb
  margin: 40px 0

.products
  width: 100%
  border-collapse: collapse
  margin-bottom: 5px
  th, td
    border: 1px solid #eee
    padding: 10px 10px
  th
    padding: 6px 10px
    background-color: #eee
    text-align: left
    font-size: 14px
    color: #000
    border: 0
    //font-weight: normal
  tr:nth-child(even)
    background-color: #f9f9f9
  tr:hover
    background-color: #f6f6f6


.btns
  display: flex
  .btn:last-of-type
    padding-right: 0

.btn
  border-radius: 4px
  //background: dodgerblue
  //color: #ffffff
  text-decoration: underline
  padding: 4px 8px
  font-size: 14px
  cursor: pointer
  align-self: flex-end

.editCell
  padding: 0 !important

.edit
  width: 100%
  padding: 10px 10px !important
  margin: 0
  //height: 20px !important
  border: 0
  box-sizing: border-box !important
  -moz-box-sizing: border-box !important
  -webkit-box-sizing: border-box !important
  font-size: 14px
